body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.absolute {
  position: absolute;
  top: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 100vw;
  height: 100vh;
}

@keyframes bounce {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-reverse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(0);
  }
}

.bounce {
  transform: scale(0);
  animation: bounce .3s ease-in-out forwards;
}

.unbounce {
  animation: bounce-reverse .3s ease-in-out forwards;
}

.pointer-none {
  pointer-events: none;
}